body{
  width: 1000px;
  max-width: 100%;
  /* font-family: 'Roboto Mono', monospace; */
  font-family: "Arial";
  margin: 0;
  display: grid;
  max-width: 100%;
  grid-template-columns: 300px repeat(2, 1fr);
  grid-template-rows: 67px 200px repeat(4, 70px) 60px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
a:active {
  color: black;
}
nav {
  background: #34495e;
  border-top: 7px solid #7f8c8d;
  grid-column: 1/4;
  text-align: left;
  padding: 0 20px;
  display: inline-block;
}
nav img{
  object-fit: cover;
  display: inline-block;
  float: left;
  width: 50px;
  margin: 5px;
  border-radius: 20%;
}
nav h2{
  font-size: 1.2rem;
  display: block;
  margin-left: 5px;
  line-height: 27px;
  float: left;
  color: #fff;
}
profile {
  background: #2980b9;
  text-align: center;
  grid-column: 1/4;
  grid-row: 2/4;
  padding: 15px;
}
profile img {
  max-width: 100%;
  max-height: 100%;
  line-height: 300px;
  /* border: 2px solid #222d3f; */
  border-radius: 50%;
  vertical-align: middle;
}
content {
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 0 20px;
  background: #1d70a7;
  transition: 1s;
}
content:hover{
  background: #2980b9;
  /* box-shadow: 0 5px 25px rgba(0,0,0,0.1);
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px); */
}
content h2{
  line-height: 40px;
  color: #dddddd;
  /* text-shadow: 1px 1px #97aebd; */
  /* font-weight: 600; */
  font-size: 1.3em;
}
footer {
  background: #3498db;
  grid-column: 1/4;
  /* grid-row : 7/8; */
}
footer span {
  font-size: 1.5em;
  line-height: 60px;
  margin-left: 5px;
  padding: 0 20px;
  color: #fff;
}
@media screen and (min-width: 600px) {
  body {
    grid-template-rows: 67px repeat(4, 80px) 60px;
  }
  nav {
    border-top: 7px solid #7f8c8d;
    grid-column: 1/4;
    grid-row: 1/2;
  }
  profile {
    grid-column: 1/2;
    grid-row: 2/6;
    text-align: left;
  }
  content {
    /* background: #2980b9cf; */
    grid-column-start: 2;
    grid-column-end: 4;
  }
  content h2{
    line-height: 40px;
    color: #dddddd;
    /* text-shadow: 1px 1px #97aebd; */
    /* font-weight: 600; */
  }
  footer{
    grid-row: 6/7;
    background: #3498db;
  }
}
